.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid whitesmoke;
    height: 60px;
    background-color: whitesmoke;
    padding: 10px 0;
    z-index: 999;
}



.header__left > .MuiSvgIcon-root {
    
    /*color: #722f37;*//
}