.header {
    display: flex;
    position: fixed;
    top: 0;
    width: auto;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid whitesmoke;
    height: auto;
    background-color: whitesmoke;
    padding: 10px 0;
    z-index: 999;
}

.header__left {
    flex: 0.35;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #722f37;
}

.header__left > .MuiSvgIcon-root {
    margin-left: auto; 
    
    justify-content: space-evenly;  
}

.header__middle {
    display: flex;
    flex: 0.5;
    align-items: center;
    align-self: start;
    
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    font-family: '"Montez", "cursive"';
    font-style: inherit;
    color: #722f37;
}

.header__right {
    display: flex;
    flex: 0.15;
    justify-content: center;
    padding-right: 50px;
    color: #722f37;
}