  .dropdown__menu li ul {
    background: white;
    border-radius: 5px;
    padding: 10px;
    display: none;
     
  }

  .dropdown__menu li:hover ul{
    display: block;
  }

  .dropdown__menu li ul li{
    float: none;
    list-style: none;
    padding-bottom: 10px;
  }

  .dropdown__menu li ul li a {
    width: 150px;
    color: #722f37;
    display: block;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    font-family: Century Gothic;
    
  } 

  .dropdown__menu li ul li a:hover {
    background: gold;
  }

  .fas {
    float: right;
    margin-left: 7px;
    padding-top: 3px;
  }

  .dropdown__menu {
    position: relative;
    float: left;
  }

  .dropdown__menu li {
    font-family: Century Gothic;
    font-weight: bold;
  }
  
  