@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bod {
    font-family: 'Raleway', sans-serif;
    background-image: url('./background5.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}