.bo {
    font-family: 'Raleway', sans-serif;
    background-image: url('./Background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}