.sendMail{
    /*position: absolute;
    bottom: 0px;
    center: 50px;*/
    background-color: #404040;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
    justify-content: center;
    align-items: center;
    width: 50%;
}

.sendMail__header {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.sendMail__header >h3 {
    color: lightblue;
    font-size: 33px;
    font-family: 'Playfair Display', serif;
}

.sendMail__send {
    background-color: #722f37;
    text-transform: capitalize !important;
    margin: 15px !important;
    width: 90%;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.sendMail > form {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 80%;
}
@media screen and (max-width: 1149px) {
    .sendMail {
        width: 65%;
    }    
}

@media screen and (max-width: 1000px) {
    .sendMail {
        width: 70%;
    }    
}

@media screen and (max-width: 800px) {
    .sendMail {
        width: 80%;
    }    
}

@media screen and (max-width: 600px) {
    .sendMail {
        width: 100%;
    }    
}

.sendMail > form > span {
    font-size: 13px;
    padding: 10px;
    color: red;
    font-family: 'Roboto Condensed', sans-serif;
    display: none;
}

.sendMail > form > input:invalid ~ span {
    display: block;
}

.sendMail > form > p > input:invalid ~ .sendMail > form > span {
    display: block;
}

.sendMail > form > p > div > input:invalid ~ .sendMail > form > span {
    display: block;
}

.sendMail > form > input {
    height: 45px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    font-family: 'EB Garamond', serif;
}

.sendMail > form > textarea {
    height: 45px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    font-family: 'EB Garamond', serif;
}

.sendMail > form > p {
    background: white;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.sendMail > form > p > input{
    background: white;
    margin: 10px;
    border-radius: 10px;
    height: 45px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    font-family: 'EB Garamond', serif;
}
.sendMail > form > p > div > input{
    background: white;
    border: none;
    outline: none;
    font-family: 'EB Garamond', serif;
    margin: 7px;
}

.sendMail > form > p > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
    font-family: 'EB Garamond', serif;
    margin-bottom: 10px;
}

.sendMail > form > p > div > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
    font-family: 'EB Garamond', serif;
    margin-bottom: 10px;
}



@media screen and (max-width: 600px) {
    .sendMail > form > p > div > div {
        flex-direction: column;
        justify-content: center;
        align-items: space-evenly;
        padding: -10px;
    }
}

@media screen and (max-width: 600px) {
    .sendMail > form > p > div > div > div {
        justify-content: center;
        align-items: space-evenly;
        padding: 5px;
    }
}

@media screen and (max-width: 600px) {
    .sendMail > form > p > div > div > div> span {
        padding-left: 10px;
    }
}



.sendMail > form > p > div > span {
    margin-left: 30px;
}

.sendMail > form > p > div > div > span {
    margin-left: 30px;
}

.sendMail > form > p > div > p {
    margin-right: 7px;
}

.sendMail > form > p > div > div > p {
    margin-right: 7px;
}

.sendMail > form > p > h3{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}
.sendMail > form > p > h4{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

.sendMail > form > div > input{
    
}

.sendMail__message{
    flex: 1;
}