.form {
    background: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.form > input {
    border-radius: 5px;
    width: 90%;
    margin: 10px;
}

.form > select {
    border-radius: 5px;
    width: 90%;
    margin: 10px;
}

.register {
    background-color: #3079ed !important;
    text-transform: capitalize !important;
    margin: 15px !important;
}